body{
    background-color: rgb(195, 149, 22);
}

img{
    width: 40%;
    height: 10%;
}

*{
margin: 10px;
}

.cast{
    color: purple;
    font-style: italic;
}
#Title{
    opacity: 84%;
}
[href]:hover{
    color: rgb(94, 4, 4);
}

div:hover{
    color: rgb(217, 21, 21);
}